<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>To-Do List</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>To-Do List</h1>
    <ul>
        {% for task in tasks %}
        <li>
            {{ task['name'] }}  {{ 'Done' if task['completed'] }}
            <a href="{{ url_for('delete_task', task_id=loop.index0) }}">Delete</a>
        </li>
        {% endfor %}
    </ul>
    <a href="{{ url_for('add_task') }}">Add Task</a>
</body>
</html>
